.wrapper {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
  padding: 40px;
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: #111827;
}

.subtitle {
  font-size: 20px;
  color: #4b5563;
  max-width: 600px;
  text-align: center;
}